include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include ROADMAP.md
include pyproject.toml

recursive-include soweak *.py
recursive-include soweak py.typed

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude .DS_Store
global-exclude .git*

prune tests
prune examples
prune dist
prune build
prune *.egg-info
